<tabset id="property-editors-tabs">
  <tab [active]="tabs[0].active"
       (select)="tabSelected(tabs[0], true)"
       (deselect)="tabSelected(tabs[0], false)">
    <ng-template tabHeading>
      <span class="fa fa-list-alt property-editors-tab-icon"></span>
      <span class="property-editors-tab-heading">{{propertiesTabName}}</span>
    </ng-template>
    <app-property-editor></app-property-editor>
  </tab>
  <tab [active]="tabs[1].active"
       (select)="tabSelected(tabs[1], true)"
       (deselect)="tabSelected(tabs[1], false)">
    <ng-template tabHeading>
      <span class="pficon pficon-info property-editors-tab-icon"></span>
      <span class="property-editors-tab-heading">{{columnsTabName}}</span>
    </ng-template>
  </tab>
</tabset>
