/*
 * The editor views tabset.
 */
#property-editors-tabs .tab-content {
  border: 1px solid lightgray;
}

/*
 * Customs settings for the tab.
 */
#property-editors-tabs .nav-link {
  border: 1px solid #bbbbbb;
  border-radius: 8px 8px 0 0;
  margin: 0;
  padding: 4px 10px;
}

/*
 * Custom settings for the tab heading.
 */
.property-editors-tab-heading {
  font-size: smaller;
}
