<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">

    <div class="col-xs-12 col-sm-3 col-md-3" *ngFor="let activity of activities">
      <div class="card-pf card-pf-accented card-pf-aggregate-status activity-card" [class.active]="isSelected(activity)" (click)="toggleActivitySelected(activity)">
        <div class="card-pf-body">
          <!-- title -->
          <h2 class="activity-card-title">
            <span class="fa fa-fw fa-cog activity-card-icon"></span>
            <span><a [routerLink]="[activity.getId()]">{{ activity.getId() }}</a></span>
            <span class="pull-right fa fa-fw fa-close activity-card-action-icon" style="color:darkred;" (click)="onDeleteActivity(activity.getId())"></span>
            <span class="pull-right fa fa-fw fa-edit activity-card-action-icon" (click)="onEditActivity(activity.getId())"></span>
            <span class="pull-right fa fa-fw fa-play activity-card-action-icon" style="color:darkgreen;" (click)="onStartActivity(activity.getId())"></span>
          </h2>
          <hr/>
          <div>
            <span><b i18n="@@activitiesCards.Source" >Source:</b>&nbsp;&nbsp;{{ activity.getSourceConnection() }}</span>
          </div>
          <div>
            <span><b i18n="@@activitiesCards.Target" >Target:</b>&nbsp;&nbsp;{{ activity.getTargetConnection() }}</span>
          </div>
          <!--
          <div class="activity-tags" *ngIf="activity.tags && activity.tags.length > 0">
            <span class="activity-tags-label">Tags:</span>
            <span class="activity-tag" *ngFor="let tag of activity.tags" (click)="selectTag(tag, $event)">{{ tag }}</span>
          </div>
          <p class="activity-description">{{activity.description}}</p>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
