<div style="margin-left: 150px">
  <div id="connections-breadcrumb-bar">
    <app-breadcrumbs>
      <li app-breadcrumb label="Connections" icon="plug" [route]="[ connectionsLink ]"></li>
      <li app-breadcrumb label="Add Connection" icon="plus" class="active"></li>
    </app-breadcrumbs>
  </div>
  <div class="container-fluid" *ngIf="!pageError">
    <div class="row">
      <h2>Add Connection</h2>
    </div>
    <div class="add-connection-form row">
      <app-add-connection-form (createConnection)="onCreateConnection($event)" #createConnectionForm></app-add-connection-form>
    </div>
  </div>
</div>
