<pfng-card [config]="cardConfig"
           [headerTemplate]="tableHeaderTemplate"
           (click)="onSelect()"
           [class]="isSelected() ? 'object-card-selected' : 'object-card'"
           (selectedViews)="selectedViews">
  <ng-template #tableHeaderTemplate>
    <div class="row card-toolbar">
      <div class="form-group pull-right col-xs-1 card-toolbar-dropdown-action-group">
        <pfng-action [config]="actionConfig"
                     (onActionSelect)="handleAction($event)">
        </pfng-action>
      </div>
      <span class="pull-left fa fa-check-circle-o fa-2x card-action-icon"
            style="color:green;"
            *ngIf="view.valid"
            data-toggle="tooltip"
            data-placement="right"
            title="Valid">
      </span>
      <span class="pull-left fa fa-exclamation-triangle fa-2x card-action-icon"
            style="color:orange;"
            *ngIf="!view.valid"
            data-toggle="tooltip"
            data-placement="right"
            title="Invalid">
      </span>
      <span class="pull-right fa fa-edit card-action-icon"
            *ngIf="view.editable"
            (click)="onClick(editEvent)"
            data-toggle="tooltip"
            data-placement="right"
            title="Edit">
      </span>
      <span class="pull-right fa fa-edit card-action-icon-disabled"
            *ngIf="!view.editable"
            data-toggle="tooltip"
            data-placement="right"
            title="Edit">
      </span>
    </div>
    <div class="row card-pf-title text-center object-card-title">
      <div class="fa fa-table object-inline-icon"></div>
      <a *ngIf="view.editable" [routerLink]="[view.getName()]" (click)="onClick(editEvent)">{{ view.getName() }}</a>
      <a *ngIf="!view.editable">{{ view.getName() }}</a>
    </div>
    <div class="row">
      <div class="object-card-description">
        {{ view.getDescription() }}
        <div><span class="fa fa-database"></span>&nbsp;&nbsp;<strong>{{ sourceTableText }}</strong></div>
      </div>
    </div>
  </ng-template>
  <!--
  <div class="object-card-body">
    <div *ngIf="showDetails">
      <div [class]="isSelected() ? 'object-card-body-title-selected' : 'object-card-body-title'">Properties</div>
      <div [class]="isSelected() ? 'col-sm-12 properties-group-selected' : 'col-sm-12 properties-group'">
        <div class="form-group">
          <pfng-list
            [config]="listConfig"
            [itemTemplate]="itemTemplate"
            [items]="properties">
            <ng-template #itemTemplate let-item="item">
              <div class="object-card-body-item">
                <div class="col-sm-6 property-name">{{ item[ 0 ] }}</div>
                <div class="col-sm-6 property-value">{{ item[ 1 ] }}</div>
              </div>
            </ng-template>
          </pfng-list>
        </div>
      </div>
    </div>
  </div>
  -->
</pfng-card>
