<pfng-wizard #wizard
             [config]="wizardConfig"
             (onCancel)="cancelClicked($event)"
             (onNext)="nextClicked($event)"
             (onStepChange)="stepChanged($event)">
  <!-- ----------------------------------- -->
  <!-- Step 1 : Connection Table Selection -->
  <!-- ----------------------------------- -->
  <pfng-wizard-step [config]="step1Config">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <pfng-inline-notification
            [header]="connectionNotificationHeader"
            [message]="connectionNotificationMessage"
            [dismissable]="connectionNotificationDismissable"
            [type]="connectionNotificationType">
          </pfng-inline-notification>
        </div>
      </div>
    </div>

    <h3><i>{{ step1InstructionMessage }}</i></h3>
    <br>
    <app-connection-node-selector (selectedNodeListUpdated)="updatePage1ValidStatus()"></app-connection-node-selector>
  </pfng-wizard-step>
  <!-- -------------------------- -->
  <!-- Step 2 : Review and Create -->
  <!-- -------------------------- -->
  <pfng-wizard-step [config]="step2Config">
    <!-- Step 2A: Review -->
    <pfng-wizard-substep [config]="step2aConfig">
      <h3><i>{{ step2InstructionMessage }}</i></h3>
      <br>
      <form [formGroup]=basicPropertyForm class="form-horizontal">
        <div [ngClass]="nameValid ? 'form-group' : 'form-group has-error'">
          <label class="col-sm-2 control-label required-pf">Name</label>
          <div class="col-sm-7">
            <input class="form-control" formControlName="name" title="">
            <div class="help-block" *ngIf="!nameValid">{{ nameValidationError }}</div>
          </div>
        </div>
        <div [ngClass]="'form-group'">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-7">
            <textarea class="form-control" rows="2" maxlength="256" formControlName="description" title=""></textarea>
          </div>
        </div>
        <div [ngClass]="hasSelectedConnection() ? 'form-group' : 'form-group has-error'">
          <label class="col-sm-2 control-label required-pf"
                 data-toggle="tooltip"
                 data-placement="right"
                 title="Select the connection whose tables will be included in the dataservice">
            Connection
          </label>
          <div class="col-sm-7">
            <select ([ngModel])="selectedConnectionName" (change)="selectedConnectionChanged($event)" title="">
              <option disabled selected value [ngValue]="emptyConnectionName">{{ emptyConnectionName }}</option>
              <option *ngFor="let connectionName of sourceNodeConnectionNames" [ngValue]="connectionName">
                {{ connectionName }}
              </option>
            </select>
            <div class="help-block" *ngIf="!hasSelectedConnection()">{{ selectConnectionErrorMsg }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Included Tables</label>
          <div class="col-sm-7 wiz-review-tables">
            <div [ngClass]="shouldCheck(node) ? 'wiz-review-table-checked' : 'wiz-review-table-unchecked'"
                 *ngFor="let node of dataserviceSourceNodes">
              {{ node.getName() }} ( {{ node.getConnectionName() }} <span class="fa fa-plug"></span> )
            </div>
          </div>
        </div>
      </form>
    </pfng-wizard-substep>
    <!-- Step 2B: Create -->
    <pfng-wizard-substep [config]="step2bConfig" (onShow)="createDataservice()">
      <div class="wizard-pf-contents">
        <!-- In progress -->
        <div class="wizard-pf-process blank-slate-pf" *ngIf="!createComplete">
          <div class="spinner spinner-lg blank-slate-pf-icon"></div>
          <h3 class="blank-slate-pf-main-action">{{ finalPageTitle }}</h3>
          <p class="blank-slate-pf-secondary-action">{{ finalPageMessage }}</p>
        </div>
        <!-- Create Successful -->
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="createComplete && createSuccessful">
          <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
          <h3 class="blank-slate-pf-main-action">{{ finalPageTitle }}</h3>
          <p class="blank-slate-pf-secondary-action">{{ finalPageMessage }}</p>
          <button class="btn btn-lg btn-primary" type="button" (click)="onDeployDataservice()">View All Data Virtualizations</button>
        </div>
        <!-- Create Failed -->
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="createComplete && !createSuccessful">
          <div class="wizard-pf-failed-icon"><span class="glyphicon glyphicon-remove-circle"></span></div>
          <h3 class="blank-slate-pf-main-action">{{ finalPageTitle }}</h3>
          <div class="blank-slate-pf-secondary-action">
            {{ finalPageMessage }}
            <br>
            <div style="font-style: italic;">{{ errorDetails }}</div>
          </div>
        </div>
      </div>
    </pfng-wizard-substep>
  </pfng-wizard-step>
</pfng-wizard>
