<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="" style="">
      <div i18n="@@navHeader.beetleStudio" id="navbar-logo" class="navbar-brand-logo">BeETLe Studio</div>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          <span>{{ user() }}</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a i18n="@@navHeader.about" data-toggle="modal" data-target="#about-modal">About</a></li>
          <li class="divider"></li>
          <li><a i18n="@@navHeader.logout" (click)="logout()">Logout</a></li>
        </ul></li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content about-modal-pf">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <h1 i18n="@@navHeader.beetleStudio">BeETLe Studio</h1>
        <div class="product-versions-pf">
          <table>
            <tr>
              <td><strong i18n="@@navHeader.version">Version</strong></td>
              <td>version-fixme</td>
            </tr>
            <tr>
              <td><strong i18n="@@navHeader.builtOn">Built On</strong></td>
              <td>builtOnDate-fixme</td>
            </tr>
            <tr>
              <td><strong i18n="@@navHeader.projectUrl">Project URL</strong></td>
              <td></td>
              <!-- <td><a href="{{ projectUrl }}" target="_blank">{{ projectUrl }} <span class="fa fa-external-link"></span></a></td> -->
            </tr>
          </table>
        </div>
        <div i18n="@@navHeader.trademark" class="trademark-pf">
          &copy; 2016 Red Hat, Inc (JBoss Middleware)
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
