<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="" style="">
      <div i18n="@@navHeader.beetleStudio" id="navbar-logo" class="navbar-brand-logo">Beetle Studio</div>
    </a>
    <ul class="nav navbar-nav navbar-right navbar-iconic">
      <li class="dropdown">
        <a class="dropdown-toggle nav-item-iconic" (click)="openAbout(aboutTemplate)">
          <span title="About" class="fa pficon-help navbar-help-icon"></span>
          <ng-template #aboutTemplate>
            <app-about-dialog [(info)]="aboutInfo" (onCancel)="closeAbout($event)">
            </app-about-dialog>
          </ng-template>
        </a>
      </li>
<!--      <li class="dropdown">
              <a class="dropdown-toggle nav-item-iconic" id="helpMenu" role="button" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="true">
                <span title="Help" class="fa pficon-help"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="helpMenu">
                <li><a href="#">Help</a></li>
                <li><a href="#" i18n="@@navHeader.about" (click)="openAbout(aboutTemplate)">About</a></li>
                <ng-template #aboutTemplate>
                  <app-about-dialog (onCancel)="closeAbout($event)">
                  </app-about-dialog>
                </ng-template>
              </ul>
            </li>
      <li class="dropdown">
        <a class="dropdown-toggle nav-item-iconic" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="true">
          <span title="User" class="fa pficon-user"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="userMenu">
          <li><a href="#">Preferences</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li> -->
    </ul>
  </div>
</nav>
