<div class="list-group list-view-pf">
  <div class="list-group-item list-view-pf-stacked" *ngFor="let activity of activities" [class.active]="isSelected(activity)" (click)="toggleActivitySelected(activity)">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-cog list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            <a [routerLink]="[activity.getId()]">{{ activity.getId() }}</a>
          </div>
          <!--
          <div class="list-group-item-text">{{ activity.description }}</div>
          -->
        </div>
        <div class="list-view-pf-additional-info">
          <div>
            <span><b i18n="@@activitiesList.Source" >Source:</b>&nbsp;&nbsp;{{ activity.getSourceConnection() }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </div>
          <div>
            <span><b i18n="@@activitiesList.Target" >Target:</b>&nbsp;&nbsp;{{ activity.getTargetConnection() }}</span>
          </div>
          <!--
          <div class="activity-tags" *ngIf="activity.tags && activity.tags.length > 0">
            <span class="activity-tags-label">Tags:</span>
            <span class="activity-tag" *ngFor="let tag of activity.tags" (click)="selectTag(tag, $event)">{{ tag }}</span>
          </div>
          -->
        </div>
      </div>
      <div class="list-view-pf-actions">
        <button class="btn btn-primary" type="button" (click)="onStartActivity(activity.getId())">Start</button>
        <button class="btn btn-default" type="button" (click)="onEditActivity(activity.getId())">Edit</button>
        <button class="btn btn-danger" type="button" (click)="onDeleteActivity(activity.getId())">Delete</button>
      </div>
    </div>
  </div>
</div>
