<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-list
          class="object-list"
          [actionTemplate]="actionTemplate"
          [config]="listConfig"
          [expandTemplate]="expandTemplate"
          [items]="connections"
          [itemTemplate]="itemTemplate"
          (onActionSelect)="handleAction($event, null)"
          (onSelectionChange)="onSelect($event)">
          <ng-template #itemTemplate
                       let-item="item"
                       let-index="index">
            <div class="list-pf-left">
              <span class="fa fa-lg fa-plug object-inline-icon"></span>
            </div>
            <div class="list-pf-content-wrapper">
              <div class="list-pf-main-content">
                <a [routerLink]="[item.name]" (click)="onEditConnection(item.name)">{{ item.name }}</a>
              </div>
              <div class="list-pf-additional-content">
                <div class="list-pf-description text-overflow-pf">{{ item.description }}</div>
              </div>
            </div>
          </ng-template>
          <ng-template #actionTemplate let-item="item" let-index="index">
            <pfng-action class="list-pf-actions"
                         [config]="getActionConfig( item, editActionTemplate, pingActionTemplate, deleteActionTemplate )"
                         (onActionSelect)="handleAction( $event, item )">
              <ng-template #editActionTemplate let-action="action">
                <span class="fa fa-edit">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #pingActionTemplate let-action="action">
                <span class="fa pficon-connected">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #deleteActionTemplate let-action="action">
                <span class="fa fa-trash-o">&nbsp;</span>{{ action.title }}
              </ng-template>
            </pfng-action>
          </ng-template>
          <ng-template #expandTemplate let-item="item" let-index="index">
            <app-connection-details [connection]="item"></app-connection-details>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </div>
</div>
