.card-toolbar .secondary-action[title="Publish"]:before {
  content: "\f08e";
  font-family: "FontAwesome";
}

.card-toolbar .secondary-action[title="Refresh"]:before {
  content: "\f021";
  font-family: "FontAwesome";
}

.object-card .list-pf {
  border: none;
}

.object-card-selected .list-pf {
  border: none;
}

.object-card .list-pf-item {
  border: none;
}

.object-card-selected .list-pf-item {
  border: none;
}

.object-card .list-pf-item:hover {
  background-color: transparent;
}

.object-card-selected .list-pf-item:hover {
  background-color: transparent;
}

.view-name {
  cursor: pointer;
  color: var(--card-body-color);
}

.views-details {
  background-color: var(--card-body-background-color);
  border-bottom: 2px solid lightgrey;
}

.views-details-selected {
  border-left: var(--card-border-width) var(--card-border-style) var(--card-border-color);
  border-right: var(--card-border-width) var(--card-border-style) var(--card-border-color);
}
