.card-toolbar .secondary-action[title="Activate"]:before {
  color: var(--card-action-icon-color);
  content: "\f1eb";
  font-family: "FontAwesome";
}

.card-toolbar .secondary-action[title="Publish"]:before {
  color: var(--card-action-icon-color);
  content: "\f085";
  font-family: "FontAwesome";
}

.card-toolbar .secondary-action[title="Refresh"]:before {
  color: var(--card-action-icon-color);
  content: "\f021";
  font-family: "FontAwesome";
}

.card-toolbar .secondary-action[title="Download"]:before {
  color: var(--card-action-icon-color);
  content: "\f019";
  font-family: "FontAwesome";
}

.object-card .list-pf,
.object-card-selected .list-pf {
  border: none;
}

.object-card .list-pf-item,
.object-card-selected .list-pf-item {
  border: none;
}

.object-card .list-pf-item:hover {
  background-color: transparent;
}

.object-card-selected .list-pf-item:hover {
  background-color: transparent;
}

a.list-pf-title.view-name {
  cursor: pointer;
  color: var(--card-body-color);
  margin-left: 10px !important;
}

.views-details {
  background-color: var(--card-body-background-color);
}

.list-pf-container {
  -ms-flex-align: start;
  align-items: flex-start;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
}
