<pfng-card [config]="cardConfig"
           [headerTemplate]="tableHeaderTemplate"
           (onActionSelect)="onShowDetails( $event )"
           (click)="onSelect()"
           [class]="isSelected() ? 'object-card-selected' : 'object-card'">
  <ng-template #tableHeaderTemplate>
    <div class="row card-toolbar">
      <div class="form-group pull-right col-xs-1 card-toolbar-dropdown-action-group">
        <pfng-action [config]="actionConfig"
                     (onActionSelect)="handleAction($event)">
        </pfng-action>
      </div>
      <span class="pull-left fa fa-check-circle-o fa-2x card-action-icon"
            style="color:green;"
            *ngIf="dataservice.serviceDeploymentActive"
            data-toggle="tooltip"
            data-placement="right"
            title="Active">
      </span>
      <span class="pull-left fa fa-times-circle-o fa-2x card-action-icon"
            style="color:red;"
            *ngIf="dataservice.serviceDeploymentFailed"
            data-toggle="tooltip"
            data-placement="right"
            title="Failed to activate">
      </span>
      <span class="pull-left fa fa-exclamation-triangle fa-2x card-action-icon"
            style="color:orange;"
            *ngIf="dataservice.serviceDeploymentInactive"
            data-toggle="tooltip"
            data-placement="right"
            title="Inactive">
      </span>
      <span class="pull-left fa fa-times-circle-o fa-2x card-action-icon"
            style="color:red;"
            *ngIf="dataservice.serviceDeploymentNotDeployed"
            data-toggle="tooltip"
            data-placement="right"
            title="Inactive">
      </span>
      <span class="pull-left fa fa-spinner fa-pulse fa-2x card-action-icon"
            *ngIf="dataservice.serviceDeploymentLoading">
      </span>
      <span *ngIf="dataservice.serviceDeploymentActive"
            class="pull-right fa fa-list-alt card-action-icon"
            (click)="onClick(testEvent)"
            data-toggle="tooltip"
            data-placement="right"
            title="Test">
      </span>
      <span *ngIf="!dataservice.serviceDeploymentActive"
            class="pull-right fa fa-list-alt card-action-icon-disabled"
            data-toggle="tooltip"
            data-placement="right"
            title="Test">
      </span>
      <span *ngIf="dataservice.serviceDeploymentActive"
            class="pull-right fa fa-search card-action-icon"
            (click)="onClick(quickLookEvent)"
            data-toggle="tooltip"
            data-placement="right"
            title="Preview"></span>
      <span *ngIf="!dataservice.serviceDeploymentActive"
            class="pull-right fa fa-search card-action-icon-disabled"
            data-toggle="tooltip"
            data-placement="right"
            title="Preview"></span>
      <span *ngIf="!dataservice.serviceDeploymentLoading"
            class="pull-right fa fa-edit card-action-icon"
            (click)="onClick(editEvent)"
            data-toggle="tooltip"
            data-placement="right"
            title="Edit">
      </span>
      <span *ngIf="dataservice.serviceDeploymentLoading"
            class="pull-right fa fa-edit card-action-icon-disabled"
            data-toggle="tooltip"
            data-placement="right"
            title="Edit">
      </span>
      <span *ngIf="dataservice.servicePublished"
            class="pull-right odata-card-icon card-action-icon"
            (click)="onClick(odataLookEvent)"
            data-toggle="tooltip"
            data-placement="right"
            title="Odata Preview">
      </span>

      <span class="pull-left fa fa-cogs fa-2x card-action-icon"
            style="color:grey;"
            *ngIf="dataservice.serviceNotPublished"
            data-toggle="tooltip"
            data-placement="right"
            title="Not Published">
      </span>
      <span class="pull-left fa fa-cogs fa-2x card-action-icon"
            style="color:red;"
            *ngIf="dataservice.servicePublishFailed"
            data-toggle="tooltip"
            data-placement="right"
            title="Publishing Failed">
      </span>
      <span class="pull-left fa fa-cog fa-spin fa-2x card-action-icon"
            style="color:orange;"
            *ngIf="dataservice.servicePublishing"
            data-toggle="tooltip"
            data-placement="right"
            title="Publishing">
      </span>
      <span class="pull-left fa fa-cogs fa-2x card-action-icon"
            style="color:green;"
            *ngIf="dataservice.servicePublished"
            data-toggle="tooltip"
            data-placement="right"
            title="Published">
      </span>
    </div>
    <div class="row card-pf-title text-center object-card-title">
      <span class="fa fa-table object-inline-icon"></span>
      <a [routerLink]="[dataservice.getId()]" (click)="onClick(editEvent)">{{ dataservice.getId() }}</a>
    </div>
    <div class="row">
      <div class="object-card-description">{{ description }}</div>
    </div>
  </ng-template>
  <div class="object-card-body">
    <div *ngIf="showDetails">
      <div [class]="isSelected() ? 'object-card-body-title-selected' : 'object-card-body-title'">Views</div>
      <div [class]="isSelected() ? 'col-sm-12 views-details views-details-selected' : 'col-sm-12 views-details'">
        <div class="form-group">
          <pfng-list
            [config]="listConfig"
            [itemTemplate]="itemTemplate"
            [items]="getViews()">
            <ng-template #itemTemplate let-item="item">
              <div class="list-pf-main-content">
                <span class="fa fa-table object-inline-icon"></span>
                <a class="list-pf-title view-name">{{ item }}</a>
              </div>
            </ng-template>
          </pfng-list>
        </div>
      </div>
    </div>
  </div>
</pfng-card>
