/* You can add global styles to this file, and also import other style files */

@import "~angular-tree-component/dist/angular-tree-component.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/mdn-like.css";
@import "~codemirror/theme/neat.css";
@import "~patternfly/dist/css/patternfly.css";
@import "~patternfly/dist/css/patternfly-additions.css";
@import "~patternfly-ng/dist/css/patternfly-ng.css";

:root {
  --alert-color: darkred;
  --hover-color: #ddeaff;
  --disabled-color: lightgrey;
  --card-action-icon-color: var(--card-border-color);
  --card-action-icon-cursor: pointer;
  --card-action-icon-disabled-color: var(--disabled-color);
  --card-action-icon-font-size: 1.5em;
  --card-action-icon-height: 16px !important;
  --card-action-icon-margin-left: 2px;
  --card-action-icon-margin-right: 2px;
  --card-action-icon-margin-top: 4px;
  --card-action-icon-width: 16px !important;
  --card-body-background-color: var(--page-background-color);
  --card-body-color: #72767b;
  --card-body-title-background-color: var(--card-body-color);
  --card-body-title-color: white;
  --card-border-color: #39a5dc;
  --card-border-style: double;
  --card-border-width: 2px;
  --card-description-color: slategray;
  --card-description-height: 75px;
  --card-description-overflow: auto;
  --card-description-margin-bottom: 10px;
  --card-description-padding: 0 5px 5px 5px;
  --card-footer-background-color: #ececec;
  --card-height: 300px;
  --card-hover-color: var(--hover-color);
  --card-title-font-size: 16px;
  --card-title-font-weight: bold;
  --card-title-margin: 10px 0 !important;
  --card-toolbar-border-bottom: 1px solid lightgrey;
  --card-toolbar-border-top: 1px solid lightgrey;
  --card-toolbar-dropdown-form-group-margin-bottom: 0;
  --card-toolbar-dropdown-form-group-padding: 0 8px;
  --card-toolbar-dropdown-action-icon-color: var(--card-action-icon-color);
  --card-toolbar-dropdown-action-icon-display: inline-block;
  --card-toolbar-dropdown-action-icon-margin-bottom: 0;
  --card-toolbar-dropdown-action-icon-margin-right: 10px;
  --card-toolbar-dropdown-action-icon-margin-top: 0;
  --card-toolbar-kebab-margin-left: 0 !important;
  --card-toolbar-kebab-margin-right: 4px;
  --card-toolbar-margin-bottom: 6px;
  --card-toolbar-margin-top: 0;
  --card-toolbar-padding: 0 0 0 4px;
  --card-width: 300px;
  --inline-icon-color: var(--card-border-color);
  --inline-icon-display: inline-block;
  --page-background-color: #fafafa;
}

/**********************************************************************/
/*                    Beetle Studio Global Types                      */
/**********************************************************************/

.blank-slate-pf {
  background-color: white;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.card-action-icon-disabled,
.card-action-icon {
  color: var(--card-action-icon-color);
  cursor: var(--card-action-icon-cursor);
  font-size: var(--card-action-icon-font-size);
  height: var(--card-action-icon-height);
  margin-left: var(--card-action-icon-margin-left);
  margin-right: var(--card-action-icon-margin-right);
  margin-top: var(--card-action-icon-margin-top);
  width: var(--card-action-icon-width);
}

.card-action-icon-disabled {
  color: var(--card-action-icon-disabled-color);
}

.card-footer-action-icon {
  margin-left: 10px;
}

.card-toolbar {
  border-bottom: var(--card-toolbar-border-bottom);
  border-top: var(--card-toolbar-border-top);
  margin-bottom: var(--card-toolbar-margin-bottom);
  margin-top: var(--card-toolbar-margin-top);
  padding: var(--card-toolbar-padding);
}

.card-toolbar-dropdown-action-group {
  margin-bottom: var(--card-toolbar-dropdown-form-group-margin-bottom);
  padding: var(--card-toolbar-dropdown-form-group-padding);
}

.card-toolbar-kebab {
  margin-left: var(--card-toolbar-kebab-margin-left);
  margin-right: var(--card-toolbar-kebab-margin-right);
}

.clickable-icon {
  cursor: pointer;
}

.object-card,
.object-card-selected {
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
//-ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

.object-card .card-pf,
.object-card-selected .card-pf {
  margin: 8px 0;
  flex: 0 0 var(--card-width);
}

.object-card-container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: repeat( auto-fill, var(--card-width) );
  grid-template-rows: repeat( auto-fill, minmax( 225px, 225px) );
}

.object-card-container>* {
  margin: 5px;
}

.object-card-selected .card-pf {
  border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
}

.object-card-selected .card-pf:hover,
.object-card .card-pf:hover  {
  background-color: var(--card-hover-color);
}

.object-card-selected .card-pf .card-pf-body,
.object-card .card-pf .card-pf-body {
  margin: 20px;
  padding: 0;
}

.object-card-selected .card-pf .card-pf-footer,
.object-card .card-pf .card-pf-footer {
  background-color: var(--card-footer-background-color);
  margin: 0 !important;
  min-height: 20px;
  padding: 4px 0 4px 0;
}

.object-card-selected .card-pf .card-pf-heading,
.object-card .card-pf .card-pf-heading {
  border-bottom: none !important;
}

.object-card-body {
  margin: 0 -20px;
  max-height: 200px;
  overflow-y: auto;
}

.object-card-body .pfng-list-content {
  width: 100%;
}

.object-card-body-title-selected,
.object-card-body-title {
  background-color: var(--card-body-title-background-color);
  color: var(--card-body-title-color);
  margin: 0;
  text-align: center;
}

.object-card-description {
  color: var(--card-description-color);
  height: var(--card-description-height);
  margin-bottom: var(--card-description-margin-bottom);
  overflow: var(--card-description-overflow);
  padding: var(--card-description-padding);
}

.object-card-title {
  font-size: var(--card-title-font-size);
  font-weight: var(--card-title-font-weight);
  margin: var(--card-title-margin);
}

.object-collection-page {
  background-color: var(--page-background-color);
}

.object-collection-page .empty-state {
  text-align: center;
}

.object-collection-page .none-matched-state .alert {
  background-color: white;
}

.object-list .close {
  float: left;
}

.object-list .list-pf-actions {
  flex-grow: 1;
  justify-content: flex-end;
}

/* Usage: "fa fa-xxx inline-icon" */
.object-inline-icon {
  color: var(--inline-icon-color);
  display: var(--inline-icon-display);
}

.object-name-link {
  margin-left: 4px !important;
  padding-left: 0;
}

.properties-group-selected,
.properties-group {
  padding: 0 4px;
}

.properties-group-selected {
}

.properties-group .list-pf-container {
  margin: 0;
  padding: 4px 0;
}

.properties-group-selected .list-pf-container {
  margin: 0;
  padding: 4px 0;
}

.property-name {
  display: inline-flex;
  flex-grow: 0;
  font-weight: bold;
  justify-content: right;
  padding: 0 4px;
  text-align: left;
}

.property-value {
  color: gray;
  display: inline-flex;
  flex-grow: 0;
  justify-content: left;
  padding: 0 4px;
  text-align: left;
}

/*
 * Puts a red asterisk to the left of the component. Use with form labels of required inputs.
 */
.required-field:before {
  color: #cc0000;
  content: "*";
  margin-right: 2px;
}

/**************************************************************/
/*                    PatternFly Types                        */
/**************************************************************/

.card-pf-footer-text {
  margin-left: 20px;
}

.pfng-list-expansion .list-pf-content {
  width: 100%;
}

.pfng-list-expansion .pfng-list-content {
  width: 100%;
}

.wizard-pf-body .pfng-wizard-position-override {
  height: 50vh;
  overflow-y: auto;
}

/* Patternfly-NG kebab dropdown actions. */
.secondary-action:before {
  color: var(--card-toolbar-dropdown-action-icon-color);
  display: var(--card-toolbar-dropdown-action-icon-display);
  margin-bottom: var(--card-toolbar-dropdown-action-icon-margin-bottom);
  margin-right: var(--card-toolbar-dropdown-action-icon-margin-right);
  margin-top: var(--card-toolbar-dropdown-action-icon-margin-top);
}

/* Adds a red trashcan icon to the left of the delete action item in dropdown of kebab. */
.secondary-action[title*="Delete"]:before {
  color: var(--alert-color);
  content: "\f014";
  font-family: "FontAwesome";
}

.toolbar-pf-actions {
  margin-bottom: 0;
}

.wizard-pf-steps-indicator {
  height: 75px;
  padding: 0;
}

/**************************************************************/
/*                    Schema Tree Types                       */
/**************************************************************/
.object-tree .node-content-wrapper, .tree-children {
  position: relative;
}

.object-tree .node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.object-tree .node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.object-tree .tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.object-tree .tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.object-tree .tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

.object-tree .tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.object-tree .toggle-children {
  z-index: 1;
}
