.dataservice-summary-top-area-with-results {
  height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dataservice-summary-bottom-area-with-results {
  height: 50vh;
}

.dataservice-summary-top-area-no-results {
}

.dataservice-summary-bottom-area-no-results {
}

.dataservice-results-hr {
  height: 3px;
  border: none;
  color: darkgray;
  background-color: darkgray;
}

.dataservice-results-action-icon-close {
  cursor: pointer;
  color: darkred;
  font-size: 1.5em;
}

.dataservice-results-action-icon-refresh {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 10px;
}

.dataservice-results-action-icon {
  cursor: pointer;
  font-size: 1.5em;
}

.quicklook-title {
  margin-left: 50px;
  font-size: 1.25em;
  font-weight: bold;
}
