<div class="app-feature-content">

  <div id="dataservices-breadcrumb-bar">
    <app-breadcrumbs>
      <li i18n="@@dataservices.dataservices" app-breadcrumb label="Dataservices" icon="table" class="active"></li>
    </app-breadcrumbs>
  </div>

  <app-page-error [error]="pageError" *ngIf="pageError"></app-page-error>

  <div class="container-fluid dataservice-list-dataservices" *ngIf="!pageError">
    <div class="col-sm-12">
      <h2 class="app-feature-title" i18n="@@dataservices.dataservices">Dataservices</h2>
    </div>
    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <div class="toolbar-pf-actions" >
          <div class="form-group toolbar-pf-filter">
              <pfng-filter [config]="filterConfig"
          (onChange)="filterChanged($event)"></pfng-filter>
          </div>
          <div class="form-group">
              <pfng-sort [config]="sortConfig" (onChange)="sortChange($event)"></pfng-sort>
          </div>
          <div class="form-group">
            <a i18n="@@dataservices.addDataservice" class="btn btn-primary" (click)="onNew()">Add Dataservice</a>
          </div>
          <div class="form-group toolbar-pf-view-selector">
            <ul class="list-inline">
              <li *ngIf="isListLayout"><a (click)="setCardLayout()"><i class="fa fa-th"></i></a></li>
              <li *ngIf="isCardLayout"><a (click)="setListLayout()"><i class="fa fa-th-list"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- List of Dataservices -->
    <div class="row object-collection-page">
      <div class="col-md-12 empty-state" *ngIf="isLoaded('dataservices') && allDataservices.length === 0">
        <div class="blank-slate-pf">
          <div class="blank-slate-pf-icon">
            <span class="pficon pficon pficon-add-circle-o"></span>
          </div>
          <h1 i18n="@@dataservices.noDataservicesFound">No Dataservices Found</h1>
          <p i18n="@@dataservices.noDataservicesFoundPleaseClick">
            No Dataservices were found - please click below to create a new Dataservice!
          </p>
          <div class="blank-slate-pf-main-action">
            <div class="btn-group">
              <a i18n="@@dataservices.addDataservice" class="btn btn-primary btn-lg" (click)="onNew()">Add Dataservice</a>
            </div>
          </div>
        </div>
      </div>

      <!-- The 'loading Dataservices' card -->
      <div class="col-md-12" *ngIf="!isLoaded('dataservices')">
        <div class="container-fluid container-cards-pf">
          <div class="row row-cards-pf">
            <div class="card-pf card-pf-accented">
              <div class="card-pf-heading">
                <h1 class="card-pf-title">
                  <span i18n="@@dataservices.loadingDataservices" class="spinner spinner-xs spinner-inline"></span> Loading Dataservices...
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The list or card view -->
      <div class="col-md-12" *ngIf="isLoaded('dataservices')">
        <!-- Notification for Dataservice Export -->
        <pfng-toast-notification *ngIf="showExportNotification" [header]="exportNotificationHeader"
                                 [message]="exportNotificationMessage"
                                 [type]="exportNotificationType"
                                 [showClose]="true"
                                 (onCloseSelect)="onCloseExportNotification()">
        </pfng-toast-notification>

        <div class="{{cardListAreaCss}}">
          <app-dataservices-list *ngIf="isListLayout" [dataservices]="filteredDataservices" [selectedDataservices]="selectedDataservices"
                                 (activateDataservice)="onActivate($event)" (testDataservice)="onTest($event)"
                                 (publishDataservice)="onPublish($event)" (deleteDataservice)="onDelete($event)"
                                 (editDataservice)="onEdit($event)" (quickLookDataservice)="onQuickLook($event)"
                                 (dataserviceSelected)="onSelected($event)" (dataserviceDeselected)="onDeselected($event)"></app-dataservices-list>
          <app-dataservices-cards *ngIf="isCardLayout" [dataservices]="filteredDataservices" [selectedDataservices]="selectedDataservices"
                                  (activateDataservice)="onActivate($event)" (testDataservice)="onTest($event)"
                                  (publishDataservice)="onPublish($event)" (deleteDataservice)="onDelete($event)"
                                  (editDataservice)="onEdit($event)" (quickLookDataservice)="onQuickLook($event)"
                                  (dataserviceSelected)="onSelected($event)" (dataserviceDeselected)="onDeselected($event)"></app-dataservices-cards>
        </div>
      </div>
      <div class="col-md-12 {{resultsAreaCss}}" *ngIf="showResults">
        <hr class="dataservice-results-hr">
        <div>
          <span class="pull-left fa fa-list-alt dataservice-results-action-icon" (click)="onTest(quickLookServiceName)"></span>
          <span class="pull-left fa fa-refresh dataservice-results-action-icon-refresh" (click)="onSubmitQuickLookQuery()"></span>
          <span class="quicklook-title">Quick Look Results for Dataservice '{{ quickLookServiceName }}'</span>
          <span class="pull-right fa fa-fw fa-close dataservice-results-action-icon-close" (click)="setQuickLookPanelOpenState(false)"></span>
        </div>
        <br>
        <app-sql-control [quicklook]="true" [selectedViews]="selectedViews" [serviceViews]="allServiceViews"
                                            [viewSql]="quickLookSql"></app-sql-control>
      </div>
    </div>

  </div>

</div>
<app-confirm-delete (deleteSelected)="onDeleteDataservice()">
  <p i18n="@@dataservices.doYouReallyWantToDeleteSelectedDataservice" >Do you really want to delete the selected Dataservice?</p>
</app-confirm-delete>

