.toolbar-pf {
  margin-top: 5px;
}

.toolbar-pf form {
  margin-bottom: 0;
}

.toolbar-pf-results {
  margin-top: 0;
}

.dataservice-list-items {
  background-color: #fafafa;
  margin-top: 10px
}

.dataservice-list-dataservices .toolbar-pf {
  background-color: transparent;
}

.dataservice-list-dataservices .toolbar-pf .toolbar-pf-results {
  background-color: white;
}

a.clear-filters {
  cursor: pointer;
}

.toolbar-pf-view-selector {
  float: right;
}

.toolbar-pf-view-selector li a {
  cursor: pointer;
  color: #333;
}

.toolbar-pf-view-selector li a:hover {
  color: #0088ce;
}

.dataservice-list-items .empty-state {
  text-align: center;
}

.blank-slate-pf {
  background-color: white;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.dataservice-list-items .none-matched-state .alert {
  background-color: white;
}

.dataservice-summary-top-area-with-results {
  height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dataservice-summary-bottom-area-with-results {
  height: 50vh;
}

.dataservice-summary-top-area-no-results {
}

.dataservice-summary-bottom-area-no-results {
}

.dataservice-results-hr {
  height: 3px;
  border: none;
  color: darkgray;
  background-color: darkgray;
}

.dataservice-results-action-icon-close {
  cursor: pointer;
  color: darkred;
  font-size: 1.5em;
}

.dataservice-results-action-icon-refresh {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 10px;
}

.dataservice-results-action-icon {
  cursor: pointer;
  font-size: 1.5em;
}

.quicklook-title {
  margin-left: 50px;
  font-size: 1.25em;
  font-weight: bold;
}
