<div id="view-editor-canvas-editor">

  <div class="view-editor-area"
       id="views-list-container">
    <app-views-list></app-views-list>
  </div>

  <!-- ============================ -->
  <!-- ========== Canvas ========== -->
  <!-- ============================ -->
  <div class="view-editor-area"
       id="view-editor-canvas-container">
      <div class="view-save-toast">
        <!-- Notification for Saving View -->
        <pfng-toast-notification *ngIf="showSaveViewNotification" [header]="saveViewNotificationHeader"
                                 [message]="saveViewNotificationMessage"
                                 [type]="saveViewNotificationType">
        </pfng-toast-notification>
      </div>
      <!-- <div class="alert-padding" *ngIf="!hasViewSources">
        <div class="alert alert-info text-center">
          <span class="pficon pficon-info"></span>
          <strong>{{noSourcesAlert}}</strong>
        </div>
      </div>
      <div class="object-card-container" *ngIf="hasViewSources">
        <app-selected-node [node]="viewSources[0]" (selectionNodeRemoved)="onViewSourceRemoved($event)"></app-selected-node>
      </div> -->

      <canvas-graph></canvas-graph>
  </div>

  <!-- ================================ -->
  <!-- ========== Properties ========== -->
  <!-- ================================ -->
  <div class="view-editor-area"
       id="view-editor-properties-container">
    <app-view-property-editors></app-view-property-editors>
  </div>

</div>
