<div class="app-feature-content">
  <div id="dataservices-breadcrumb-bar">
    <app-breadcrumbs>
      <li i18n="@@dataservicesCards.dataservices" app-breadcrumb label="Dataservices" icon="table" [route]="[ dataservicesLink ]"></li>
      <li i18n="@@dataservicesCards.addDataservice" app-breadcrumb label="Add Dataservice" icon="plus" class="active"></li>
    </app-breadcrumbs>
  </div>
  <div class="container-fluid" *ngIf="!pageError">
    <div class="col-sm-12">
      <h2 class="app-feature-title" i18n="@@add-dataservice.addDataservice">Add Dataservice</h2>
    </div>
    <!-- Add Dataservice Wizard -->
    <div class="row">
      <app-add-dataservice-wizard></app-add-dataservice-wizard>
    </div>
  </div>
</div>

