/*
 * The container for the results table.
 */
#view-preview-container {
  align-items: center;
  display: flex;
  height: 100%;
}

/*
 * Style the empty state component so that it is centered and extends the entire width.
 */
#view-preview-container .blank-slate-pf {
  background-color: inherit;
  border: none;
  padding: 0;
}

/*
 * Style the results table so that it extends the entire width.
 */
#view-preview-table {
  margin: 0 20px;
  width: 100%;
}
