<div [ngClass]="isValid ? 'form-group' : 'form-group has-error'" [formGroup]="form">
  <label class="col-md-2 control-label" [attr.for]="property.getId()" data-toggle="tooltip" [title]="property.getDescription()">{{ property.getDisplayName() }}</label>

  <div class="col-md-10" [ngSwitch]="property.getControlType()">

    <input *ngSwitchCase="'textbox'" class="form-control" [formControlName]="property.getId()"
           [id]="property.getId()" type="text" title="A text value">

    <input *ngSwitchCase="'maskedTextbox'" class="form-control" [formControlName]="property.getId()"
           [id]="property.getId()" type="password" title="A text value">

    <input *ngSwitchCase="'checkbox'" [formControlName]="property.getId()"
           [id]="property.getId()" type="checkbox" title="A boolean value">

    <select [id]="property.getId()" *ngSwitchCase="'dropdown'" [(ngModel)]="property.theDefaultValue" class="form-control"
            [formControlName]="property.getId()" title="A value with allowed values">
      <option *ngFor="let allowedValue of property.getAllowedValues()" [selected]="allowedValue === property.theDefaultValue" [value]="allowedValue">{{ allowedValue }}</option>
    </select>

    <div class="help-block" *ngIf="!isValid">{{ validationErrorMessage }}</div>
  </div>

</div>
