.add-connection-form {
  padding: 15px
}

.add-connection-form /*.form-instructions*/ {
  font-size: 15px;
  padding-top: 10px
}

.add-connection-form .form-instructions ol {
  padding-left: 20px;
}

.wizard-pf-failed-icon {
  color: #9c3535;
  font-size: 67px;
  line-height: 67px;
}

.modal-header {
  background-color: #fff;
}

.wizard-pf-body {
  background: var(--page-background-color);
}

.wizard-pf-steps-indicator {
  border-top: 0;
}
