<pfng-wizard #wizard
             [config]="wizardConfig"
             (onCancel)="cancelClicked($event)"
             (onNext)="nextClicked($event)"
             (onStepChange)="stepChanged($event)">
  <!-- ------------------------- -->
  <!-- Step 1 : Connection Types -->
  <!-- ------------------------- -->
  <pfng-wizard-step [config]="step1Config">
    <div *ngIf="connectionTypesLoading">
      <div class="spinner spinner-lg blank-slate-pf-icon"></div>
    </div>
    <!-- Connection Types failed to load -->
    <div class="card-pf card-pf-accented card-pf-error" *ngIf="!connectionTypesLoading && !connectionTypesLoadSuccess">
      <div class="card-pf-heading">
        <h2 class="card-pf-title">
          <span class="fa fa-fw fa-exclamation"></span>
          <span i18n="@@addConnectionWizard.step1InitError">Step Initialization Error</span>
        </h2>
      </div>
      <div class="card-pf-body">
        <p i18n="@@addConnectionWizard.couldNotLoadConnectionTypes">
          Could not load the connection types.  Please Try relaunching the wizard or check the console log.
        </p>
      </div>
    </div>
    <h3 *ngIf="!connectionTypesLoading && connectionTypesLoadSuccess"><i>{{ step1InstructionMessage }}</i></h3>
    <!-- Connection Type Cards -->
    <app-connection-type-cards [connectionTypes]="connectionTypes" [selectedConnectionTypes]="selectedConnectionTypes"
                               (connectionTypeSelected)="onConnectionTypeSelected($event)"
                               (connectionTypeDeselected)="onConnectionTypeDeselected($event)"></app-connection-type-cards>
  </pfng-wizard-step>
  <!-- ------------------------------------------------ -->
  <!-- Step 2 : Connection Definition and Create Status -->
  <!-- ------------------------------------------------ -->
  <pfng-wizard-step [config]="step2Config">
    <!-- Step 2A: Review -->
    <pfng-wizard-substep [config]="step2aConfig">
      <!-- spinner while service catalog sources are 'loading' -->
      <div *ngIf="serviceCatalogSourcesLoading">
        <div class="spinner spinner-lg blank-slate-pf-icon"></div>
      </div>
      <div class="col-sm-12" *ngIf="!serviceCatalogSourcesLoading && !hasServiceCatalogSources">
        <pfng-inline-notification
          [header]="noSourcesNotificationHeader"
          [message]="noSourcesNotificationMessage"
          [dismissable]="noSourcesNotificationDismissable"
          [type]="noSourcesNotificationType">
        </pfng-inline-notification>
      </div>
      <div class="col-md-12" *ngIf="!serviceCatalogSourcesLoading && serviceCatalogSourcesLoadSuccess">
        <h3 *ngIf="hasServiceCatalogSources"><i>{{ step2InstructionMessage }}</i></h3>
        <form [formGroup]=connectionBasicPropertyForm class="form-horizontal">
          <div [ngClass]="nameValid ? 'form-group' : 'form-group has-error'" *ngIf="hasServiceCatalogSources">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-5">
              <input class="form-control" formControlName="name" title="">
              <div class="help-block" *ngIf="!nameValid">{{ nameValidationError }}</div>
            </div>
          </div>
          <div [ngClass]="'form-group'" *ngIf="!hasServiceCatalogSources">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-5">
              <input class="form-control" formControlName="name" title="" disabled="true">
            </div>
          </div>
          <div [ngClass]="'form-group'">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-5" *ngIf="hasServiceCatalogSources">
              <textarea class="form-control" rows="2" maxlength="256" formControlName="description" title="" ></textarea>
            </div>
            <div class="col-sm-5" *ngIf="!hasServiceCatalogSources">
              <textarea class="form-control" rows="2" maxlength="256" formControlName="description" title="" disabled="true"></textarea>
            </div>
          </div>
          <div [ngClass]="hasSelectedServiceCatalogSource ? 'form-group' : 'form-group has-error'">
            <label class="col-sm-2 control-label">ServiceCatalog Source</label>
            <div class="col-sm-5" *ngIf="hasServiceCatalogSources">
              <select (change)="selectedServiceCatalogSourceChanged($event.target.value)" title="" >
                <option [ngValue]="emptyServiceCatalogSource">{{ emptyServiceCatalogSource.getId() }}</option>
                <option *ngFor="let catalogSource of serviceCatalogSources"
                        [ngValue]="catalogSource"
                        [selected]="catalogSource.getId() == selectedServiceCatalogSource.getId()">{{ catalogSource.getId() }}</option>
              </select>
              <div class="help-block" *ngIf="!hasSelectedServiceCatalogSource">{{ selectServiceCatalogSourceErrorMsg }}</div>
            </div>
            <div class="col-sm-5" *ngIf="!hasServiceCatalogSources">
              <select class="form-control" formControlName="serviceCatalogSource" title="" disabled>
                <option value="" selected hidden>-- No Sources Found ---</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </pfng-wizard-substep>
    <!-- Step 2B: Status -->
    <pfng-wizard-substep [config]="step2bConfig" (onShow)="createConnection()">
      <div class="wizard-pf-contents">
        <!-- In progress -->
        <div class="wizard-pf-process blank-slate-pf" *ngIf="!createComplete">
          <div class="spinner spinner-lg blank-slate-pf-icon"></div>
          <h3 class="blank-slate-pf-main-action">{{ finalPageTitle }}</h3>
          <p class="blank-slate-pf-secondary-action">{{ finalPageMessage }}</p>
        </div>
        <!-- Create Successful -->
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="createComplete && createSuccessful">
          <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
          <h3 class="blank-slate-pf-main-action">{{ finalPageTitle }}</h3>
          <p class="blank-slate-pf-secondary-action">{{ finalPageMessage }}</p>
          <a class="btn btn-lg btn-primary" [routerLink]="[connectionSummaryLink]">View All Connections</a>
        </div>
        <!-- Create Failed -->
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="createComplete && !createSuccessful">
          <div class="wizard-pf-failed-icon"><span class="glyphicon glyphicon-remove-circle"></span></div>
          <h3 class="blank-slate-pf-main-action">{{ finalPageTitle }}</h3>
          <div class="blank-slate-pf-secondary-action">
            {{ finalPageMessage }}
            <br>
            <div style="font-style: italic;">{{ errorDetails }}</div>
          </div>
        </div>
      </div>
    </pfng-wizard-substep>
  </pfng-wizard-step>
</pfng-wizard>
