<pfng-wizard #wizard
             [config]="wizardConfig"
             (onCancel)="cancelClicked($event)"
             (onNext)="nextClicked($event)"
             (onStepChange)="stepChanged($event)">
  <!-- ------------------------- -->
  <!-- Step 1 : Basic Properties -->
  <!-- ------------------------- -->
  <pfng-wizard-step [config]="step1Config">
    <h3><i>{{ step1InstructionMessage }}</i></h3>
    <div *ngIf="!templatesLoaded">
      <div class="spinner spinner-lg blank-slate-pf-icon"></div>
    </div>
    <form [formGroup]=basicPropertyForm class="form-horizontal" *ngIf="templatesLoaded">
      <div [ngClass]="driverValid ? 'form-group' : 'form-group has-error'">
        <label class="col-sm-2 control-label">Connection Type</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="driver" title="">
            <option value="" selected hidden>-- Select a Connection Type ---</option>
            <option *ngFor="let driver of templateNames" [value]="driver">{{ driver }}</option>
          </select>
          <div class="help-block" *ngIf="!driverValid">{{ getBasicPropertyErrorMessage("driver") }}</div>
        </div>
      </div>

      <div [ngClass]="nameValid ? 'form-group' : 'form-group has-error'">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="name" title="">
          <div class="help-block" *ngIf="!nameValid">{{ getBasicPropertyErrorMessage("name") }}</div>
        </div>
      </div>
      <div [ngClass]="jndiValid ? 'form-group' : 'form-group has-error'">
        <label class="col-sm-2 control-label">JNDI Identifier</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="jndi" title="">
          <div class="help-block" *ngIf="!jndiValid">{{ getBasicPropertyErrorMessage("jndi") }}</div>
        </div>
      </div>
    </form>
  </pfng-wizard-step>
  <!-- ---------------------------- -->
  <!-- Step 2 : Advanced Properties -->
  <!-- ---------------------------- -->
  <pfng-wizard-step [config]="step2Config">
    <h3><i>{{ step2InstructionMessage }}</i></h3>
    <div *ngIf="!detailPropertiesLoaded">
      <div class="spinner spinner-lg blank-slate-pf-icon"></div>
    </div>
    <div class="add-connection-form row" *ngIf="detailPropertiesLoaded">
      <app-property-form [formProperties]="getPropertyDefinitions()"></app-property-form>
    </div>
  </pfng-wizard-step>
  <!-- -------------------------- -->
  <!-- Step 3 : Review and Create -->
  <!-- -------------------------- -->
  <pfng-wizard-step [config]="step3Config">
    <!-- Step 3A: Review -->
    <pfng-wizard-substep [config]="step3aConfig">
      <h3><i>{{ step3InstructionMessage }}</i></h3>
      <h4>Connection Properties:</h4>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Connection Type:</label>
          <label class="col-sm-10">{{ connectionDriverName }}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Name:</label>
          <label class="col-sm-10">{{ connectionName }}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">JNDI Identifier:</label>
          <label class="col-sm-10">{{ connectionJndiName }}</label>
        </div>
      </form>
      <h4>Connection Detail Required Properties:</h4>
      <form class="form-horizontal">
        <div *ngFor="let prop of requiredPropertyValues">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ prop[0] }}:</label>
            <label class="col-sm-10">{{ prop[1] }}</label>
          </div>
        </div>
      </form>
    </pfng-wizard-substep>
    <!-- Step 3B: Create -->
    <pfng-wizard-substep [config]="step3bConfig" (onShow)="createConnection()">
      <div class="wizard-pf-contents">
        <!-- In progress -->
        <div class="wizard-pf-process blank-slate-pf" *ngIf="!createComplete">
          <div class="spinner spinner-lg blank-slate-pf-icon"></div>
          <h3 class="blank-slate-pf-main-action">Creation in progress</h3>
          <p class="blank-slate-pf-secondary-action">The connection is being created. </p>
        </div>
        <!-- Create Successful -->
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="createComplete && createSuccessful">
          <div class="wizard-pf-success-icon"><span class="glyphicon glyphicon-ok-circle"></span></div>
          <h3 class="blank-slate-pf-main-action">Creation was successful</h3>
          <p class="blank-slate-pf-secondary-action">The connection was created successfully. Click on the button to see all connections.</p>
          <a class="btn btn-lg btn-primary" [routerLink]="[connectionSummaryLink]">View All Connections</a>
        </div>
        <!-- Create Failed -->
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="createComplete && !createSuccessful">
          <div class="wizard-pf-failed-icon"><span class="glyphicon glyphicon-remove-circle"></span></div>
          <h3 class="blank-slate-pf-main-action">Creation failed</h3>
          <p class="blank-slate-pf-secondary-action">The connection creation failed.  Correct any properties and retry.</p>
        </div>
      </div>
    </pfng-wizard-substep>
  </pfng-wizard-step>
</pfng-wizard>
