<pfng-card class="object-card selected-table-card"
           [config]="config"
           [headerTemplate]="tableHeaderTemplate"
           (onActionSelect)="handleActionSelect($event)">
  <ng-template #tableHeaderTemplate>
    <div class="row card-pf-title text-left object-card-title">
      <div class="fa fa-table object-inline-icon"></div>
      <span class="fa fa-close pull-right clickable-icon" (click)="onRemove()"></span>
      {{ table.getName() }}
    </div>
    <div class="text-info text-left">
      <div class="fa fa-plug object-inline-icon"></div>
      {{ table.getConnection().getId() }}
    </div>
  </ng-template>
  <div class="object-card-body">
    <div *ngIf="showColumns">
      <div class="selected-table-column-selection">Include/Exclude Columns</div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <pfng-table
                class="selected-table-columns"
                [columns]="columnDefinitions"
                [config]="tableConfig"
                [rows]="columns"
                (onSelectionChange)="handleSelectionChange($event)">
              </pfng-table>
            </div>
          </div>
        </div>
    </div>
  </div>
</pfng-card>
