.selected-table-card .card-pf {
  background-color: #def3ff;
  margin: 0 0 10px;
  min-height: 40px;
}

.selected-table-name:before {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 0;
  font-family: "FontAwesome";
  content: "\f0ce";
}

.selected-table-name .card-pf-title {
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}

.selected-table-connection:before {
  display: inline-block;
  margin: 0 10px 0 20px;
  font-family: "FontAwesome";
  content: "\f1e6";
  color: #666666;
}

.selected-table-connection .card-pf-subtitle {
  color: #666666;
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: 0;
  font-size: 14px;
}

.selected-table-close-icon {
  cursor: pointer;
  color: darkred;
}

.selected-table-body .card-pf-body {
  background-color: white;
  margin-top: 10px !important;
}

.selected-table-column-selection {
  margin-left: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.seleted-table-card .pfng-card .card-pf-heading {
  background-color: #def3ff;
  margin-bottom: -10px !important;
}


.selected-table-card .pfng-card .card-pf-footer  {
  margin: 0 !important;
  padding: 10px 0 5px 20px;
  min-height: 20px;
}

