<form class="form-horizontal">

  <!-- =================== -->
  <!-- Virtualization name -->
  <!-- =================== -->
  <div class="form-group">
    <label class="col-sm-2 control-label view-editor-header-label"
           for="view-editor-header-virtualization-name">Virtualization:
    </label>
    <a class="col-sm-7 control-label view-editor-header-label"
       id="view-editor-header-virtualization-name"
       [routerLink]="[virtualizationLink]">{{virtualizationName}}
    </a>
  </div>

  <!-- ========= -->
  <!-- View name -->
  <!-- ========= -->
  <div class="form-group">
    <label class="col-sm-2 control-label view-editor-header-label required-field"
           id="view-editor-header-name"
           for="view-name-input">View Name:
    </label>
    <div class="col-sm-5 view-editor-header-input-div">
      <input type="text"
             id="view-name-input"
             name="view-name-input"
             placeholder="Enter a view name"
             autofocus
             [(ngModel)]="viewName"
             [readonly]="readOnly"
             (input)="viewNameChanged($event.target.value)"
             class="form-control">
    </div>

    <!-- ========================== -->
    <!-- Show/Hide view description -->
    <!-- ========================== -->
    <label class="col-sm-3 control-label"
           id="view-editor-header-show-description-label"
           for="view-editor-header-show-description">
      <input type="checkbox"
             id="view-editor-header-show-description"
             (change)="showDescription = $event.target.checked">Show Description
    </label>
  </div>

  <!-- ================ -->
  <!-- View description -->
  <!-- ================ -->
  <div class="form-group"
       *ngIf="showDescription">
    <label class="col-sm-2 control-label view-editor-header-label"
           id="view-editor-header-description"
           for="view-editor-header-description-input">Description:
    </label>
    <div class="col-sm-7 view-editor-header-input-div">
        <textarea class="form-control"
                  id="view-editor-header-description-input"
                  name="view-editor-header-description-input"
                  placeholder="Enter a view description"
                  [(ngModel)]="viewDescription"
                  [readonly]="readOnly"
                  (input)="viewDescriptionChanged($event.target.value)"
                  rows="2"
                  maxlength="256"
                  title="">
        </textarea>
    </div>
  </div>
</form>
