<!-- ------------- -->
<!-- Schemas List  -->
<!-- ------------- -->
<div class="col-sm-6" *ngIf="schemasLoading">
  <span class="spinner spinner-sm spinner-inline"></span>
</div>
<div class="col-sm-6 alert-padding" *ngIf="schemasLoadedInvalid">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>Unable to load schema</strong>
  </div>
</div>
<div class="col-sm-6 alert-padding" *ngIf="schemasLoadedValidEmpty">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No schema available</strong>
  </div>
</div>
<div class="list-div col-sm-6 jdbc-column-results" *ngIf="schemasLoadedValidNotEmpty">
    <ngx-datatable [rows]="schemas"
                   [messages]="schemaTableMessages"
                   [footerHeight]="24"
                   [scrollbarV]="false"
                   [scrollbarH]="true"
                   [columnMode]="'force'"
                   [reorderable]="false"
                   [selectionType]="'single'"
                   (select)="onSchemaSelect($event)"
                   [cssClasses]="customClasses">
      <ngx-datatable-column name="Schemas"
                            [prop]="'name'"
                            [sortable]="true"
                            [canAutoResize]="true"
                            [width]="300"
                            [draggable]="false"
                            [resizeable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.getDisplayName() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
</div>
<!-- ------------- -->
<!--  Tables List  -->
<!-- ------------- -->
<div class="col-sm-6" *ngIf="hasSelectedSchema && tablesLoading">
  <span class="spinner spinner-sm spinner-inline"></span>
</div>
<div class="col-sm-6 alert-padding" *ngIf="hasSelectedSchema && tablesLoadedInvalid">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>Unable to load tables</strong>
  </div>
</div>
<div class="col-sm-6 alert-padding" *ngIf="hasSelectedSchema && tablesLoadedValidEmpty">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No tables available</strong>
  </div>
</div>
<div class = "list-div col-sm-6 jdbc-column-results" *ngIf="hasSelectedSchema && tablesLoadedValidNotEmpty">
  <ngx-datatable [rows]="tables"
                 [messages]="tableTableMessages"
                 [footerHeight]="24"
                 [scrollbarV]="false"
                 [scrollbarH]="true"
                 [columnMode]="'force'"
                 [reorderable]="false"
                 [selectionType]="'checkbox'"
                 [cssClasses]="customClasses">
    <ngx-datatable-column name="Tables"
                          [prop]="'name'"
                          [sortable]="true"
                          [canAutoResize]="true"
                          [width]="300"
                          [draggable]="false"
                          [resizeable]="false">
      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="selectedAllRows" let-selectFn="selectAllTables">
        <input type="checkbox" [checked]="selectedAllRows" (change)="selectAllTables()"/>Tables
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row" let-isSelected="row.selected" let-onCheckboxChangeFn="selectedTableChanged">
        <input type="checkbox" [checked]="row.selected" (change)="selectedTableChanged( row )"/>{{ row.name }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
