<!-- ------------- -->
<!-- Schemas List  -->
<!-- ------------- -->
<div class="col-sm-6" *ngIf="schemasLoading">
  <span class="spinner spinner-sm spinner-inline"></span>
</div>
<div class="col-sm-6 alert-padding" *ngIf="schemasLoadedInvalid">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>Unable to load schema</strong>
  </div>
</div>
<div class="col-sm-6 alert-padding" *ngIf="schemasLoadedValidEmpty">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No schema available</strong>
  </div>
</div>
<div class="list-div col-sm-6 jdbc-column-results" *ngIf="schemasLoadedValidNotEmpty">
  <div class="form-group">
    <pfng-table
      [columns]="schemaColumns"
      [config]="schemaTableConfig"
      [dataTableConfig]="ngxSchemaConfig"
      (onFilterChange)="schemaFilterChanged($event)"
      (onSelect)="schemaSelectionChange($event)"
      [rows]="filteredSchemas">
    </pfng-table>
  </div>
</div>
<!-- ------------- -->
<!--  Tables List  -->
<!-- ------------- -->
<div class="col-sm-6" *ngIf="hasSelectedSchema && tablesLoading">
  <span class="spinner spinner-sm spinner-inline"></span>
</div>
<div class="col-sm-6 alert-padding" *ngIf="hasSelectedSchema && tablesLoadedInvalid">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>Unable to load tables</strong>
  </div>
</div>
<div class="col-sm-6 alert-padding" *ngIf="hasSelectedSchema && tablesLoadedValidEmpty">
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No tables available</strong>
  </div>
</div>
<div class = "list-div col-sm-6 jdbc-column-results" *ngIf="hasSelectedSchema && tablesLoadedValidNotEmpty">
  <pfng-table
    [columns]="tableColumns"
    [config]="tableTableConfig"
    [dataTableConfig]="ngxTableConfig"
    (onFilterChange)="tableFilterChanged($event)"
    (onSelectionChange)="selectedTableChanged($event)"
    [rows]="filteredTables">
  </pfng-table>
</div>
<ng-template #schemaCellTemplate let-row="row" let-value="value">
  {{ row.getDisplayName() }}
</ng-template>
