.alert-padding {
  padding-top: 10px;
}

.jdbc-column-results {
  padding-left: 0;
  padding-right: 0;
}

.jdbc-column-results .filter-pf .form-group {
  width: auto !important;
}

.jdbc-column-results .toolbar-pf .form-group {
  border-right: none;
}

.jdbc-column-title {
  height: 20px;
  border:1px solid white;
  background-color: #dddddd;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 0;
}

.list-div {
  position: relative;
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}
