<div class="list-group list-view-pf">
  <div class="list-group-item list-view-pf-stacked" *ngFor="let dataservice of dataservices" [class.active]="isSelected(dataservice)" (click)="toggleDataserviceSelected(dataservice)">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-table list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            <a [routerLink]="[dataservice.getId()]">{{ dataservice.getId() }}</a>
          </div>
          <div class="list-group-item-text">
            {{ dataservice.getDescription() }}
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div>
            <span class="fa fa-database"></span>
            <span *ngIf="dataservice.getServiceViewTables().length==1">{{dataservice.getServiceViewTables()[0]}}</span>
            <span *ngIf="dataservice.getServiceViewTables().length==2">{{dataservice.getServiceViewTables()[0]}}, {{dataservice.getServiceViewTables()[1]}}</span>
          </div>
          <!--
          <div class="dataservice-tags" *ngIf="dataservice.tags && dataservice.tags.length > 0">
            <span class="dataservice-tags-label">Tags:</span>
            <span class="dataservice-tag" *ngFor="let tag of dataservice.tags" (click)="selectTag(tag, $event)">{{ tag }}</span>
          </div>
          -->
        </div>
      </div>
      <div class="list-view-pf-actions">
        <button i18n="@@dataservicesList.test" class="btn btn-default" type="button" (click)="onTestDataservice(dataservice.getId())">Test</button>
        <button i18n="@@dataservicesList.publish" class="btn btn-default" type="button" (click)="onPublishDataservice(dataservice.getId())">Publish</button>
        <button i18n="@@dataservicesList.delete" class="btn btn-danger" type="button" (click)="onDeleteDataservice(dataservice.getId())">Delete</button>
      </div>
    </div>
  </div>
</div>
