/* Adds an icon to the left of the delete action item in dropdown of kebab. */
.object-list .secondary-action[title*="Activate"]:before {
  color: var(--card-action-icon-color);
  content: "\f1eb";
  font-family: "FontAwesome";
}

/* Adds an icon to the left of the download action item in dropdown of kebab. */
.object-list .secondary-action[title*="Download"]:before {
  color: var(--card-action-icon-color);
  content: "\f019";
  font-family: "FontAwesome";
}

/* Adds an icon to the left of the publish action item in dropdown of kebab. */
.object-list .secondary-action[title*="Publish"]:before {
  color: var(--card-action-icon-color);
  content: "\f085";
  font-family: "FontAwesome";
}

/* Adds an icon to the left of the refresh action item in dropdown of kebab. */
.object-list .secondary-action[title*="Refresh"]:before {
  color: var(--card-action-icon-color);
  content: "\f021";
  font-family: "FontAwesome";
}

a.list-pf-title.view-name {
  cursor: pointer;
  color: var(--card-body-color);
  margin-left: 10px !important;
}
