<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-list
          class="object-list"
          [actionTemplate]="actionTemplate"
          [config]="listConfig"
          [expandTemplate]="expandTemplate"
          [items]="dataservices"
          [itemTemplate]="itemTemplate"
          (onActionSelect)="handleAction($event, null)"
          (onSelectionChange)="onSelect($event)">
          <ng-template #itemTemplate
                       let-item="item"
                       let-index="index">
            <div class="list-pf-left">
              <span class="fa fa-lg fa-table object-inline-icon"></span>
            </div>
            <div class="list-pf-content-wrapper">
              <div class="list-pf-main-content">
                <span class="pull-left pficon-ok"
                      *ngIf="item.serviceDeploymentActive">
                </span>
                <span class="pull-left pficon-error-circle-o"
                      *ngIf="item.serviceDeploymentFailed">
                </span>
                <span class="pull-left pficon-warning-triangle-o"
                      *ngIf="item.serviceDeploymentInactive">
                </span>
                <span class="pull-left pficon-unknown"
                      *ngIf="item.serviceDeploymentNotDeployed">
                </span>
                <span class="pull-left fa fa-spinner fa-pulse"
                      *ngIf="item.serviceDeploymentLoading">
                </span>
                <span class="pull-left fa fa-cogs fa-2x"
                      style="color:grey;"
                      *ngIf="item.serviceNotPublished"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Not Published">
                </span>
                <span class="pull-left fa fa-cogs fa-2x"
                      style="color:red;"
                      *ngIf="item.servicePublishFailed"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Publishing Failed">
                </span>
                <span class="pull-left fa fa-cog fa-2x"
                      style="color:midnightblue;"
                      *ngIf="item.serviceSubmitted"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Virtualization Submitted">
                </span>
                <span class="pull-left fa fa-cog fa-spin fa-2x"
                      style="color:purple;"
                      *ngIf="item.serviceConfiguring"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Virtualization Configuring">
                </span>
                <span class="pull-left fa fa-cog fa-spin fa-2x"
                      style="color:blue;"
                      *ngIf="item.serviceBuilding"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Virtualization Building">
                </span>
                <span class="pull-left fa fa-cog fa-spin fa-2x"
                      style="color:teal;"
                      *ngIf="item.serviceDeploying"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Virtualization Deploying">
                </span>
                <span class="pull-left fa fa-cogs fa-2x"
                      style="color:green;"
                      *ngIf="item.servicePublished"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="Published">
                </span>
                <a class="object-name-link" [routerLink]="[item.getId()]" (click)="onEditDataservice(item.getId())">{{ item.getId() }}</a>
                <div class="list-pf-description">{{ getDescription( item ) }}</div>
              </div>
              <div class="list-pf-additional-content">
                <pfng-list-expand-toggle [expandId]="'views'" [item]="item" [template]="viewsTemplate">
                  <ng-template #viewsTemplate>
                    <span class="fa fa-table object-inline-icon"></span>
                    <span class="list-pf-title">Views</span>
                  </ng-template>
                </pfng-list-expand-toggle>
              </div>
            </div>
          </ng-template>
          <ng-template #actionTemplate let-item="item" let-index="index">
            <pfng-action class="list-pf-actions"
                         [config]="getActionConfig( item, editActionTemplate,
                                                          testActionTemplate,
                                                          quickLookActionTemplate,
                                                          activateActionTemplate,
                                                          publishActionTemplate,
                                                          downloadActionTemplate,
                                                          deleteActionTemplate,
                                                          odataLookActionTemplate )"
                         (onActionSelect)="handleAction($event, item)">
              <ng-template #editActionTemplate let-action="action">
                <span class="fa fa-edit">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #testActionTemplate let-action="action">
                <span class="fa fa-list-alt">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #quickLookActionTemplate let-action="action">
                <span class="fa fa-search">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #activateActionTemplate let-action="action">
                <span class="fa fa-wifi">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #publishActionTemplate let-action="action">
                <span class="fa fa-external-link-alt">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #downloadActionTemplate let-action="action">
                <span class="fa fa-download">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #deleteActionTemplate let-action="action">
                <span class="fa fa-trash-o">&nbsp;</span>{{ action.title }}
              </ng-template>
              <ng-template #odataLookActionTemplate let-action="action">
                <span class="odata-list-icon">&nbsp;</span>
              </ng-template>
            </pfng-action>
          </ng-template>
          <ng-template #expandTemplate let-item="item" let-index="index">
            <app-dataservices-details class="dataservices-details-properties" [item]="item" *ngIf="item.expandId === undefined"></app-dataservices-details>
            <app-views-content [item]="item" *ngIf="item.expandId === 'views'"></app-views-content>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </div>
</div>
