.toolbar-pf {
  margin-top: 5px;
}

.toolbar-pf form {
  margin-bottom: 0;
}

.toolbar-pf-results {
  margin-top: 0;
}

.connection-list-items {
  background-color: #fafafa;
  margin-top: 10px;
  height: 75vh;
  overflow-y: auto;
}

.connection-list-connections .toolbar-pf {
  background-color: transparent;
}

.connection-list-connections .toolbar-pf .toolbar-pf-results {
  background-color: white;
}

a.clear-filters {
  cursor: pointer;
}

.toolbar-pf-view-selector {
  float: right;
}

.toolbar-pf-view-selector li a {
  cursor: pointer;
  color: #333;
}

.toolbar-pf-view-selector li a:hover {
  color: #0088ce;
}

.connection-list-items .empty-state {
  text-align: center;
}

.blank-slate-pf {
  background-color: white;
  width: 50%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.connection-list-items .none-matched-state .alert {
  background-color: white;
}
