<div class="app-feature-content">

  <div id="connections-breadcrumb-bar">
    <app-breadcrumbs>
      <li i18n="@@connections.connections" app-breadcrumb label="Connections" icon="plug" class="active"></li>
    </app-breadcrumbs>
  </div>

  <app-page-error [error]="pageError" *ngIf="pageError"></app-page-error>

  <div class="container-fluid connection-list-connections" *ngIf="!pageError">
    <div class="col-sm-12">
      <h2 i18n="@@connections.connections">Connections</h2>
    </div>
    <div class="row toolbar-pf">
      <div class="col-sm-12">
        <form class="toolbar-pf-actions" #filterForm="ngForm">
          <div class="form-group toolbar-pf-filter">
            <label i18n="@@connections.name" class="sr-only" for="filter">Name</label>
            <div class="input-group" style="width: 100%">
              <input name="name-filter" [(ngModel)]="nameFilter" type="text" class="form-control name-filter" id="filter" placeholder="Filter by name...">
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-link" type="button" (click)="toggleSortDirection()">
              <span *ngIf="isSortAscending" class="fa fa-sort-alpha-asc"></span>
              <span *ngIf="isSortDescending" class="fa fa-sort-alpha-desc"></span>
            </button>
          </div>
          <div class="form-group">
            <a i18n="@@connections.addConnection" class="btn btn-primary" [routerLink]="[addConnectionLink]">Add Connection</a>
          </div>
          <div class="form-group toolbar-pf-view-selector">
            <ul class="list-inline">
              <li *ngIf="isListLayout"><a (click)="setCardLayout()"><i class="fa fa-th"></i></a></li>
              <li *ngIf="isCardLayout"><a (click)="setListLayout()"><i class="fa fa-th-list"></i></a></li>
            </ul>
          </div>
        </form>
        <div class="row toolbar-pf-results">
          <div class="col-sm-12">
            <h5 i18n="@@connections.connectionsFound" >{{ filteredConnections.length }} Connections found
              <a *ngIf="allConnections.length != filteredConnections.length"
                 class="clear-filters" (click)="clearFilters()">(out of {{
              allConnections.length }} total)</a></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- List of Connections -->
    <div class="row connection-list-items">
      <div class="col-md-12 empty-state" *ngIf="isLoaded('connections') && allConnections.length === 0">
        <div class="blank-slate-pf">
          <div class="blank-slate-pf-icon">
            <span class="pficon pficon pficon-add-circle-o"></span>
          </div>
          <h1 i18n="@@connections.noConnectionsFound">No Connections Found</h1>
          <p i18n="@@connections.noConnectionsFoundPleaseClick">
            No Connections were found - please click below to create a new Connection!
          </p>
          <div class="blank-slate-pf-main-action">
            <div class="btn-group">
              <a i18n="@@connections.addConnection" class="btn btn-primary btn-lg" [routerLink]="[ addConnectionLink ]">Add Connection</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 none-matched-state" *ngIf="filteredConnections.length === 0 && isFiltered()">
        <div class="alert alert-info">
          <span class="pficon pficon-info"></span>
          <strong i18n="@@connections.noConnectionsMatchedFilter">No Connections matched the filter!&nbsp;&nbsp;Please try changing your filter criteria... </strong>
        </div>
      </div>

      <!-- The 'loading Connections' card -->
      <div class="col-md-12" *ngIf="!isLoaded('connections')">
        <div class="container-fluid container-cards-pf">
          <div class="row row-cards-pf">
            <div class="card-pf card-pf-accented">
              <div class="card-pf-heading">
                <h1 class="card-pf-title">
                  <span i18n="@@connections.loadingConnections" class="spinner spinner-xs spinner-inline"></span> Loading Connections...
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The list or card view -->
      <div class="col-md-12" *ngIf="isLoaded('connections')">
        <app-connections-list *ngIf="isListLayout" [connections]="filteredConnections" [selectedConnections]="selectedConnections"
                              (pingConnection)="onPing($event)" (deleteConnection)="onDelete($event)"
                              (connectionSelected)="onSelected($event)" (connectionDeselected)="onDeselected($event)"></app-connections-list>
        <app-connections-cards *ngIf="isCardLayout" [connections]="filteredConnections" [selectedConnections]="selectedConnections"
                               (pingConnection)="onPing($event)" (deleteConnection)="onDelete($event)"
                               (connectionSelected)="onSelected($event)" (connectionDeselected)="onDeselected($event)"></app-connections-cards>
      </div>

    </div>

  </div>

</div>
<app-confirm-delete (deleteSelected)="onDeleteConnection()">
  <p i18n="@@connections.doYouReallyWantToDeleteSelectedConnection" >Do you really want to delete the selected Connection?</p>
</app-confirm-delete>
