<div>
  <!-- ------------------------------------------- -->
  <!-- Left Column - Connection Selection          -->
  <!-- ------------------------------------------- -->
  <div class="col-sm-2">
    <div class="row">
      <span class="pull-left"><strong>Connections</strong></span>
    </div>
    <app-connection-schema-tree
      (nodeSelected)="onTreeNodeSelected($event)"
      (nodeDeselected)="onTreeNodeDeselected($event)"></app-connection-schema-tree>
  </div>
  <div class="col-sm-1">
      <span *ngIf="enableAddArrow"
            class="pull-right fa fa-2x fa-chevron-right"
            style="color:green; border: 2px solid green;margin-top: 50px;margin-right: 30px"
            (click)="onAddSourceNodeClicked()"
            data-toggle="tooltip"
            data-placement="right"
            title="Add Node to Selections">
      </span>
      <span *ngIf="!enableAddArrow"
            class="pull-right fa fa-2x fa-chevron-right"
            style="color:lightgray; border: 2px solid lightgray;margin-top: 50px;margin-right: 30px">
      </span>
  </div>
  <!-- ------------------------------------------- -->
  <!-- Right Column - Selected Nodes               -->
  <!-- ------------------------------------------- -->
  <div class="col-sm-3">
    <div class="row">
      <span class="pull-left"><strong>Current Selections</strong></span>
    </div>
    <app-selected-nodes-list (selectionListNodeRemoved)="onSourceNodeRemoved($event)"></app-selected-nodes-list>
  </div>
</div>
