<div style="margin-left: 150px">
  <div id="activities-breadcrumb-bar">
    <app-breadcrumbs>
      <li i18n="@@activitiesCards.activities" app-breadcrumb label="Activities" icon="plug" [route]="[ activitiesLink ]"></li>
      <li i18n="@@activitiesCards.addActivity" app-breadcrumb label="Add Activity" icon="plus" class="active"></li>
    </app-breadcrumbs>
  </div>
  <div class="container-fluid" *ngIf="!pageError">
    <div class="row">
      <h2></h2>
    </div>
    <!-- Add Activity Wizard -->
    <div class="row">
      <app-add-activity-wizard></app-add-activity-wizard>
    </div>
  </div>
</div>


