.vertical-navbar-layout {
  background-color: white;
  position: fixed;
}

.app-feature-content {
  margin-top: 60px;
  margin-left: 200px;
}

.app-feature-title {
  margin: 0 0 10px 0;
  padding: 0;
}

.navbar-brand-title {
  margin-top: 5px;
  font-size: 2em;
  color: white;
}
