.vertical-navbar-layout {
  background-color: white;
  position: fixed;
  width: 100%;
}

/* the page content area to the right of the vertical navbar */
.app-feature-content {
  margin-top: 60px;
}

.app-feature-content.container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

.app-feature-title {
  margin: 0 0 10px 0;
  padding: 0;
}

.navbar-brand-title {
  margin-top: 5px;
  font-size: 2em;
  color: white;
}
