<div id="studio-vertical-nav-wrapper">

  <div id="studio-vertical-nav">
    <div id="studio-nav-item-activities" class="studio-nav-item" [class.active]="currentMenu === menuTypes.Activities"
         (click)="onActivitiesClick()">
      <span class="fa fa-fw fa-cog"></span>
      <div i18n="@@verticalNav.activities">Activities</div>
    </div>
    <div id="studio-nav-item-connections" class="studio-nav-item" [class.active]="currentMenu === menuTypes.Connections"
         (click)="onConnectionsClick()">
      <span class="fa fa-fw fa-plug"></span>
      <div i18n="@@verticalNav.connections">Connections</div>
    </div>
    <div class="studio-nav-item-filler">
    </div>
  </div>

</div>
