<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span class="pficon pficon-close"></span>
  </button>
</div>
<div class="modal-body">
  <strong>{{message}}</strong>
  <!-- Form for Virtualization name-description and View name-description -->
  <form [formGroup]="virtualizationPropertyForm" class="form-horizontal">
    <!-- -------------- -->
    <!-- Virtualization -->
    <!-- -------------- -->
    <h3>Virtualization</h3>
    <div [ngClass]="virtNameValid ? 'form-group' : 'form-group has-error'">
      <label class="col-sm-3 control-label required-pf">Name</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="virtName" title="">
        <div class="help-block" *ngIf="!virtNameValid">{{ virtNameValidationError }}</div>
      </div>
    </div>
    <div [ngClass]="'form-group'">
      <label class="col-sm-3 control-label">Description</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="1" maxlength="256" formControlName="virtDescription" title=""></textarea>
      </div>
    </div>
    <!-- ---- -->
    <!-- View -->
    <!-- ---- -->
    <h3>Virtualization View</h3>
    <div [ngClass]="viewNameValid ? 'form-group' : 'form-group has-error'">
      <label class="col-sm-3 control-label required-pf">Name</label>
      <div class="col-sm-8">
        <input class="form-control" formControlName="viewName" title="">
        <div class="help-block" *ngIf="!viewNameValid">{{ viewNameValidationError }}</div>
      </div>
    </div>
    <div [ngClass]="'form-group'">
      <label class="col-sm-3 control-label">Description</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="1" maxlength="256" formControlName="viewDescription" title=""></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button i18n="@@createVirtualizationDialog.cancel" type="button" class="btn btn-default" (click)="onCancelSelected()">{{ cancelButtonText }}</button>
  <button i18n="@@createVirtualizationDialog.delete" type="button" class="btn btn-primary" (click)="onOkSelected()" [disabled]="!okButtonEnabled">{{ okButtonText }}</button>
</div>
