<div style="margin-left: 150px">
  <div id="connections-breadcrumb-bar">
    <app-breadcrumbs>
      <li app-breadcrumb label="Connections" icon="plug" [route]="[ connectionsLink ]"></li>
      <li app-breadcrumb label="Edit Connection" icon="pencil" class="active"></li>
    </app-breadcrumbs>
  </div>
  <div class="container-fluid" *ngIf="!pageError">
    <div class="row">
      <h2>Connection Properties</h2>
    </div>
    <div class="edit-connection-form row">
        <app-property-form [formProperties]="getPropertyDefinitions()"></app-property-form>
    </div>
    <!--
    <div class="add-connection-form row">
      <app-add-connection-form (onCreateConnection)="onCreateConnection($event)" #createConnectionForm></app-add-connection-form>
    </div>
    -->
  </div>
</div>
