.view-table-full-div {
  padding-left: 0;
  padding-right: 10px;
  min-height: 240px;
  max-height: 240px;
  border: 1px inset grey;
  overflow-y: auto;
}

.view-table-quicklook-div {
  padding-left: 0;
  padding-right: 10px;
  min-height: 120px;
  max-height: 120px;
  border: 1px inset grey;
  overflow-y: auto;
}

.sql-control-control-title {
  margin: 5px 0 0;
  color: grey;
  font-weight: bold;
}
.sql-control-controls-query {
  float: left;
  margin: 0.5em;
}

.sql-control-editor {
  border: 1px inset grey;
  margin-left: 15px;
  padding-left: 0;
}

.sql-results-panel {
  padding-left: 0;
  padding-right: 0;
  clear: both;
  border: 1px inset grey;
}

.sql-control-controls-limit input[type=number] {
  width: 5em;
}

.sql-control-controls-offset input[type=number] {
  width: 5em;
}

.row-number-column {
  text-align: center;
}

.quicklook-sql-title {
  font-size: 1.25em;
  font-weight: bold;
}

.quicklook-sql {
  margin-left: 15px;
  font-size: 1.15em;
  font-weight: bold;
  font-style: italic;
}
