.sql-control-control-title {
  margin: 0.5em;
  float: left;
  color: grey;
  font-weight: bold;
}
.sql-control-controls-query {
  float: left;
  margin: 0.5em;
}

.sql-control-editor {
  clear: both;
  border: 1px inset grey;
}

.sql-results-panel {
  clear: both;
  border: 1px inset grey;
}

.sql-control-controls-limit input[type=number] {
  width: 5em;
}

.sql-control-controls-offset input[type=number] {
  width: 5em;
}
